#calculator{
    border: 1px black solid;
    width:400px;
    position: absolute;
    top: 50px; 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 1;
    height:auto;
    text-align: center;
    border-radius: 15px;
    background-color: lightgray;
    
}

body{
    background-color: rgb(72,72,72);
}

#inp{
    padding:10px;
    width: 300px;
    font-size: large;
    background-color: azure;
}

button{
    padding: 12px 20px;
    font-size: large;
    margin:10px 5px 10px 5px;
    border-radius: 10px;

}

button:hover{
    background-color: rgba(72, 72, 72, 0.3);
}